<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScotTarg.SingleTarget.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScotTarg.SingleTarget.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <ScotTarg.SingleTarget.Properties.Settings>
            <setting name="SpeedOfSound" serializeAs="String">
                <value>340</value>
            </setting>
            <setting name="AmmoDiameter" serializeAs="String">
                <value>5.6</value>
            </setting>
        </ScotTarg.SingleTarget.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ScotTarg.SingleTarget.Properties.Settings>
            <setting name="TargetWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="MsPerCount" serializeAs="String">
                <value>6.666666666666667E-05</value>
            </setting>
        </ScotTarg.SingleTarget.Properties.Settings>
    </applicationSettings>
</configuration>
